html {
    scroll-behavior: smooth;
    background-color: #000000;
    color: #FFFF;
    font-family: 'Signika Negative', sans-serif;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #7ec8e3;
    font-family: 'Arial', sans-serif;
}

.header {
    text-align: center;
    padding: 20px;
    font-size: medium;
    font-family: "Signika Negative", sans-serif;
}

img {
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 20px 100px -10px #7ec8e3;
}

.about {
    text-align: center;
    padding: 10px;
    font-family: 'Signika Negative', sans-serif;
}

.class-header{
    text-align: center;
}
.fa {
    color: #7ec8e3;
}
.classes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.column {
    flex: 1;
    padding: 10px;
}

.class {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    min-height: 45%
}

.skill-header {
    margin-top: 40px;
    text-align: center;
}

.skills-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.skills-column {
    flex: 1;
    padding: 10px;
}

.skill{
    padding: 20px;
    font-size: x-large;
    
}